body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    direction: rtl;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-links {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 150px;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links a {
    text-decoration: none;
    color: #0073e6;
}

.social-links a:hover {
    text-decoration: underline;
}

i{
    margin-left: 10px;
}

section {
    padding: 20px;
    margin: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

h2 {
    color: #333;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
















  /* تصميم رئيسي */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    direction: rtl;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.social-links ul {
    display: flex;
    justify-content: center;
}

.social-links a {
    text-decoration: none;
    color: #0073e6;
    margin: 0 10px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}
